<table class="border-separate border-spacing-2">
    <tr><th>{{dia()}}</th></tr>
    <tr><td class="text-sm text-gray-500">14 de noviembre</td></tr>
    <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">9:00</button></td></tr>
    <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">10:00</button></td></tr>
    <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">11:00</button></td></tr>
    <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">12:00</button></td></tr>
    <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">13:00</button></td></tr>
</table>