<div class="hero min-h-full bg-base-200">
  <div class="hero-content flex-col">
    <div class="text-center">
      <h1 class="text-5xl font-bold">Inicia sesión ahora</h1>
      <p class="py-6">Accede a tu cuenta para gestionar tus citas y ver tu historial dental de forma rápida y segura.</p>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Correo electrónico</span>
          </label>
          <input type="email" placeholder="email@example.com" class="input input-bordered focus:outline-none"
                 [class.input-error]="email.invalid && (email.touched || submitted)"
                 formControlName="email" required />
          <label class="label">
            @if (email.invalid && (email.touched || submitted)) {
              @if (email.errors?.['required']) { <span class="label-text-alt text-red-500">El correo es requerido.</span> }
              @if (email.errors?.['pattern']) { <span class="label-text-alt text-red-500">Formato de correo inválido.</span> }
            }
          </label>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Contraseña</span>
          </label>
          <input type="password" placeholder="Contraseña" class="input input-bordered focus:outline-none"
                 [class.input-error]="password.invalid && (password.touched || submitted)"
                 formControlName="password" required />
          <label class="label">
            @if (password.invalid && (password.touched || submitted)) {
              @if (password.errors?.['required']) { <span class="label-text-alt text-red-500">La contraseña es requerida.</span> }
            }
          </label>
          <label class="label">
            <!-- <a href="#" class="label-text-alt link link-hover">¿Olvidaste tu contraseña?</a> -->
          </label>
        </div>
        <div class="form-control mt-6 flex flex-col items-center">
          <button class="btn btn-primary bg-blue-500 text-white" type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>
  </div>

