<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <a routerLink="" class="btn btn-ghost text-xl text-primary-highlight font-bold">Clínica Dental Integral</a>
  </div>
  <div class="navbar-center">
    <!-- Empty for non-logged-in users -->
  </div>
  <div class="navbar-end gap-8">
    <a routerLink="/login" class="text-primary-highlight hover:underline font-medium">Iniciar Sesión</a>
    <a routerLink="/signup" class="btn btn-primary-custom">Registrarse</a>
  </div>
</div>