<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<div>Mis citas</div>
<div><table>
    <tr>
        <th>ID Cita</th>
        <th>Hora</th>
        <th>Paciente</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    <tr>
        <td>1</td>
        <td>11:00 - 12:00</td>
        <td>José Armando Ordoñez Ramírez</td>
        <td>Pendiente</td>
        <td>
            <span class="material-symbols-outlined">edit</span>
        </td>
    </tr>
        <tr>
        <td>1</td>
        <td>11:00 - 12:00</td>
        <td>José Armando Ordoñez Ramírez</td>
        <td>Realizada</td>
        <td>
            <span class="material-symbols-outlined">clinical_notes</span>
        </td>
    </tr>
</table></div>
