<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<div class="flex items-center justify-between p-10">
  <p class="text-4xl font-bold text-primary-highlight">Mis citas</p>
  <button class="btn btn-primary-custom">Guardar</button>
</div>

<div class="join px-28 flex flex-row items-center justify-center">
  <button (click)="prevDay()" class="join-item btn">«</button>
  <button class="join-item btn">{{date().toLocaleDateString("es")}}</button>
  <button (click)="nextDay()" class="join-item btn">»</button>
</div><br>

@if (screenWidth700px()) {
    @for (appointment of rxresoruce.value()?.data?.appointments; track $index) {
        <div class="w-96 px-5 border-b border-neutral-100 inline-flex justify-between items-start">
            <div class="py-2.5 inline-flex flex-col justify-start items-start">
                <div class="self-stretch justify-end text-black text-base font-semibold font-['Inter']">ID de Cita</div>
                <div class="self-stretch justify-end text-black text-base font-semibold font-['Inter']">Hora</div>
                @if(role()=="dentist"){
                    <div class="self-stretch justify-end text-black text-base font-semibold font-['Inter']">Pacientee</div>
                }
                @else {
                    <div class="self-stretch justify-end text-black text-base font-semibold font-['Inter']">Médico</div>
                }
                <div class="self-stretch justify-end text-black text-base font-semibold font-['Inter']">Estatus</div>
            </div>
            <div class="py-2.5 inline-flex flex-col justify-start items-start">
                <div class="self-stretch justify-end text-black text-base font-medium font-['Inter']">{{appointment.id}}</div>
                <div class="self-stretch justify-end text-black text-base font-medium font-['Inter']">{{appointment.date}}</div>
                @if(role()=="dentist"){
                    <div class="flex-1 justify-end text-black text-base font-medium font-['Inter']">{{appointment.patient.name}}</div>
                }
                @else {
                    <div class="flex-1 justify-end text-black text-base font-medium font-['Inter']">{{appointment.dentist.name}}</div>
                }
                    <div class="flex-1 justify-end text-black text-base font-medium font-['Inter']">
                            <select class="select w-28">
                                <option disabled selected>Pendiente</option>
                                <option>Aceptar</option>
                                <option>Cancelar</option>
                            </select>
                            
                    </div>
            </div>
        </div>
    }
}
@else {    
    <div class="w-screen px-28 inline-flex flex-col justify-start items-start gap-[5px] py-10m">
        <div class="self-stretch p-2.5 border-b-2 border-neutral-100 inline-flex justify-between items-center">
            <div class="flex-1 justify-end text-black font-semibold">ID de Cita</div>
            <div class="flex-1 justify-end text-black font-semibold">Hora</div>
            @if(role()=="dentist"){
                <div class="flex-1 justify-end text-black font-semibold">Paciente</div>
            }
            @else {
                <div class="flex-1 justify-end text-black font-semibold">Médico</div>
            }
            <div class="flex-1 justify-end text-black font-semibold">Estatus</div>
            <div class="flex-1 justify-end text-black font-semibold">Expediente</div>
        </div>
         @for (appointment of rxresoruce.value()?.data?.appointments; track $index) {
             <div class="self-stretch p-2.5 border-b-2 border-neutral-100 inline-flex justify-between items-center">
                 <div class="flex-1 justify-end text-black text-base font-medium font-['Inter']">{{appointment.id}}</div>
                 <div class="flex-1 justify-end text-black text-base font-medium font-['Inter']">{{appointment.date | date:'shortTime'}}</div>
                 @if(role()=="dentist"){
                    <div class="flex-1 justify-end text-black text-base font-medium font-['Inter']">{{appointment.patient.name}}</div>
                 }
                 @else {
                    <div class="flex-1 justify-end text-black text-base font-medium font-['Inter']">{{appointment.dentist.name}}</div>
                 }
                 @if(role()=="dentist" && appointment.status=="scheduled"){
                     <div class="flex-1 justify-end text-black text-base font-medium font-['Inter']">
                             <select class="select w-28">
                                 <option disabled selected>Pendiente</option>
                                 <option>Aceptar</option>
                                 <option>Cancelar</option>
                             </select>
                             
                     </div>
                }
                @else {
                     <div class="flex-1 justify-end text-black text-base font-medium font-['Inter']">{{appointment.status| appAppointmenteStatus}}</div>
                 }
                 <div class="flex-1">
                         <button class="material-symbols-outlined">clinical_notes</button>
                 </div>
             </div>
         }
    </div>
}
