<p class="p-10 text-4xl font-bold text-primary-highlight">Elige el doctor y la hora</p>

<!--Esta es una opción-->
<div class="flex gap-6 justify-center">
    <!--Esta es el avatar y nombre del doctor-->
    <section class="flex flex-col items-center justify-center text-center p-4">
    <!-- Avatar -->
    <div class="avatar mb-3">
        <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
        <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
        </div>
    </div>

    <!-- Información del médico -->
    <p class="text-xl font-semibold text-gray-800">Dr. Juan Pérez</p>
    <p class="text-sm text-gray-500">Odontólogo Especialista en Ortodoncia</p>

    <!-- Datos de contacto -->
    <div class="mt-2 space-y-1 text-sm text-gray-600">
        <p>📞 55 1234 5678</p>
        <p>✉️ juan.perez@clinica.com</p>
    </div>
    </section>
    <!--Esta es la selección de cita-->
    <section class="flex gap-6">
        <!--Hoy-->
        <app-date-column [dia]="'Hoy, ' + getDay(todayDate)"></app-date-column>
        <!--Mañana-->
        <app-date-column [dia]="'Mañana, ' + getDay(tomorrowDate)"></app-date-column>
        <!--Tercera opción-->
        <app-date-column dia="Miércoles"></app-date-column>
        <!--Cuarta opción-->
        <app-date-column dia="Jueves"></app-date-column>
    </section>
</div>

<!--Modal de confirmar cita-->
<dialog id="my_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Confirmar Cita</h3>
    <p class="py-4">¿Deseas agendar esta cita con el Dr. Juan Pérez?</p>
    <div class="modal-action">
      <form method="dialog" class="flex gap-3">
        <button class="btn">Cancelar</button>
        <button class="btn btn-primary">Agendar</button>
      </form>
    </div>
  </div>
</dialog>
