<app-navbar></app-navbar>
<p class="p-10 text-4xl font-bold text-primary-highlight">Elige el doctor y la hora</p>

<!--Esta es una opción-->
<div class="flex gap-6 justify-center">
    <!--Esta es el avatar y nombre del doctor-->
    <section class="flex flex-col items-center justify-center text-center p-4">
    <!-- Avatar -->
    <div class="avatar mb-3">
        <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
        <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
        </div>
    </div>

    <!-- Información del médico -->
    <p class="text-xl font-semibold text-gray-800">Dr. Juan Pérez</p>
    <p class="text-sm text-gray-500">Odontólogo Especialista en Ortodoncia</p>

    <!-- Datos de contacto -->
    <div class="mt-2 space-y-1 text-sm text-gray-600">
        <p>📞 55 1234 5678</p>
        <p>✉️ juan.perez@clinica.com</p>
    </div>
    </section>
    <!--Esta es la selección de cita-->
    <section class="flex gap-6">
        <!--Hoy-->
        <table class="border-separate border-spacing-2">
            <tr><th>Hoy</th></tr>
            <tr><td class="text-sm text-gray-500">14 de noviembre</td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">9:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">10:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">11:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">12:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">13:00</button></td></tr>
        </table>
        <!--Mañana-->
        <table class="border-separate border-spacing-2">
            <tr><th>Mañana</th></tr>
            <tr><td class="text-sm text-gray-500">15 de noviembre</td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">9:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">10:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">11:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">12:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">13:00</button></td></tr>
        </table>
        <!--Tercera opción-->
        <table class="border-separate border-spacing-2">
            <tr><th>Lunes</th></tr>
            <tr><td class="text-sm text-gray-500">17 de noviembre</td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">9:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">10:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">11:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">12:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">13:00</button></td></tr>
        </table>
        <!--Cuarta opción-->
        <table class="border-separate border-spacing-2">
            <tr><th>Martes</th></tr>
            <tr><td class="text-sm text-gray-500">18 de noviembre</td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">9:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">10:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">11:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">12:00</button></td></tr>
            <tr><td><button class="bg-blue-100 hover:bg-blue-200 text-blue-700 font-medium py-1 px-4 rounded-lg w-full" onclick="my_modal.showModal()">13:00</button></td></tr>
        </table>
    </section>
</div>

<!--Modal de confirmar cita-->
<dialog id="my_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Confirmar Cita</h3>
    <p class="py-4">¿Deseas agendar esta cita con el Dr. Juan Pérez?</p>
    <div class="modal-action">
      <form method="dialog" class="flex gap-3">
        <button class="btn">Cancelar</button>
        <button class="btn btn-primary">Agendar</button>
      </form>
    </div>
  </div>
</dialog>
<app-footer></app-footer>
